@(message: String)

<html lang="en">

    <head>
          <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Analysis</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
 <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    </head>

    <body ng-app="pivot">
        <div ng-controller="AnalysisCtrl">

        <div class="collapse navbar-collapse" ng-controller="NavigationCtrl">
          <ul class="nav navbar-nav">
             <li ng-class="{ active: isActive('/')}"><a href="/">Real Time Data</a></li>
             <li ng-class="{ active: isActive('/analysis')}"><a href="/analysis">Historic data analysis</a></li>
             <li ng-class="{ active: isActive('/map')}"><a href="/map">Live Map</a></li>
           </ul>
        </div>
        <div ng-view></div> 
  
           <div class="indexPage"> 
                <div class="navbar navbar-default">
                    <form ng-submit-"historicTweets()" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                             <input  style="width:200px" type="text" class="form-control" placeholder="Candidate" ng-model="searchCandidate">
                             <input  style="width:200px" type="text" class="form-control" placeholder="Party" ng-model="searchParty">
                             <input  style="width:200px" type="text" class="form-control" placeholder="From" ng-model="searchFromDate">
                             <input  style="width:200px" type="text" class="form-control" placeholder="To" ng-model="searchToDate">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="historicTweets()">Submit</button>
                        </form>
                    <h4>@message</h4>   
                </div>                
        <div class="row">


   

        </div>     
      </div>   
  </div>

        <!-- include javascript, jQuery FIRST -->
        <script src="/assets/javascripts/jquery-1.10.2.min.js"></script>    

        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    	<script src="/assets/javascripts/angular.min.js"></script>
        <script src='/assets/javascripts/underscore.js'></script>
        <script src='/assets/javascripts/angular-google-maps.js'></script>
        <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
        
        <script src="/assets/javascripts/d3.v3.min.js"></script>
        <script src="/assets/javascripts/d3.layout.cloud.js"></script>

        <script src="/assets/javascripts/app.js"></script>        
        <script src="/assets/javascripts/services/queryBuilder.js"></script>
        <script src="/assets/javascripts/services/wordcount.js"></script>
        <script src="/assets/javascripts/services/tweets.js"></script>

        <script src="/assets/javascripts/wordcloud.js"></script>
        <script src="/assets/javascripts/barchart.js"></script>
        <script src="/assets/javascripts/directives.js"></script>
        <script src="/assets/javascripts/controllers.js"></script>
      
    </body>
