@(message: String)

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Pivot</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    </head>

    <body ng-app="pivot">
    	<div ng-controller="IndexCtrl">
           <div class="indexPage"> 
                <div class="navbar navbar-default">
                    <form ng-submit-"search()" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="search()">Submit</button>
                        </form>
                    <h4>@message</h4>   
                </div>

                <div class="row">
                    <h4>Live Tweet feed</h4> 
                    <div class="col-lg-4" id="tweet-frame">
                        <div class="tweetCard" ng-repeat="searchResult in searchResults | limitTo:10 track by $index"
                            data-tweet="tweet">{{searchResult}}
                            <hr />
                        </div>
                    </div>   
                    <div class="col-lg-8">
                        Graph 
                    </div>   
               </div>     
            </div>   
        </div>

    	<script src="/assets/javascripts/angular.min.js"></script>
        <script src="/assets/javascripts/app.js"></script>
        <script src="/assets/javascripts/controllers.js"></script> 
       
        <script src="/assets/javascripts/services/queryBuilder.js"></script>
        <script src="/assets/javascripts/services/tweets.js"></script> 

      
    </body>